.button-17 {
	align-items: center;
	appearance: none;
	background-color: #fff;
	border-radius: 5px;
	border-style: none;
	box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
		rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
	box-sizing: border-box;
	color: #3c4043;
	cursor: pointer;
	display: inline-flex;
	fill: currentcolor;
	font-family: WorkSans, fallback-font, fallback-font-2, sans-serif;
	font-size: 12px;
	font-weight: 500;
	height: 40px;
	justify-content: center;
	letter-spacing: 0.25px;
	line-height: normal;
	max-width: 100%;
	overflow: visible;
	padding: 2px 24px;
	position: relative;
	text-align: center;
	text-transform: none;
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: auto;
	will-change: transform, opacity;
	z-index: 0;
	border: 2px solid transparent;
	margin-bottom: 6px;
}

.button-17:not(:disabled) {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
	box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
		rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
	box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
		rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
	box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
		rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17-ph {
	font-size: 20px;
	color: #fff;
	background: #32b957;
	border: 2px solid transparent;
}

.button-17-ph:hover {
	background: #2da54e;
}

.button-17-tg {
	font-size: 20px;
	color: #fff;
	background: #0088cc;
	border: 2px solid transparent;
}

.button-17-tg:hover {
	background: #0077b3;
}

.button-17-vb {
	font-size: 20px;
	color: #fff;
	background: #7360f2;
	border: 2px solid transparent;
}

.button-17-vb:hover {
	background: #5e48f0;
}

.button-17-inst {
	gap: 10px;
	color: #000;
	font-weight: 500;
	font-size: 24px;
	line-height: 15px;
	width: 260px;
}

.button-17-inst:hover {
	background: #f6f9fe;
}

.button-17-inst i {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border-style: none;
	width: 19px;
	height: 19px;
	color: #fff;
	background: #d6249f;
	background: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.button-text {
	font-family: WorkSans, fallback-font, fallback-font-2, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

.button-17-rabota {
  width: 260px;
	background: #e80500;
	color: #fff;
}

.button-17-rabota:hover {
  background: #cf0400;
}

.button-17-rabota,
.button-17-inst,
.button-17-ph,
.button-17-vb,
.button-17-tg:active {
	box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
		0 8px 12px 6px rgb(60 64 67 / 15%);
	outline: none;
}
.button-17-rabota,
.button-17-inst,
.button-17-ph,
.button-17-vb,
.button-17-tg:focus {
	outline: none;
}
